@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "HALTimezone-MonoRegular";
    src: url("/fonts/HALTimezone-MonoRegular.otf") format("opentype");
}

@font-face {
    font-family: "EBGaramond-Medium";
    src: url("/fonts/EBGaramond-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-MediumItalic";
    src: url("/fonts/EBGaramond-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-Bold";
    src: url("/fonts/EBGaramond-Bold.ttf") format("truetype");
}

html,body{
    background-color: #050505;
    -webkit-font-smoothing: antialiased;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
  z-index: -1;
}