@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "HALTimezone-MonoRegular";
    src: url("/fonts/HALTimezone-MonoRegular.otf") format("opentype");
}

@font-face {
    font-family: "EBGaramond-Medium";
    src: url("/fonts/EBGaramond-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-MediumItalic";
    src: url("/fonts/EBGaramond-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-Bold";
    src: url("/fonts/EBGaramond-Bold.ttf") format("truetype");
}

html,body{
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}

.word-split a {
  text-decoration: underline;
}

::selection {
  background-color: #8C8C8C; 
  color: #FFF;            
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100px) scale(1.2);
    filter: blur(3px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

::view-transition-old(root) {
  animation: slide-out 1.2s cubic-bezier(0.76, 0, 0.24, 1) forwards;
}

::view-transition-new(root) {
  animation: slide-in 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.8s;
  /* Initialize hidden state matching 0% keyframe */
  opacity: 0; 
  transform: translateY(100px) scale(1.2); /* Fallback */
}



::-webkit-scrollbar{
  display: none;
}

img {
  user-drag: none;          /* Safari / Chrome */
  -webkit-user-drag: none;  /* legacy prefix for WebKit */
  user-select: none;        /* optional: also prevent text selection if inside the image */
}
