@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "HALTimezone-MonoRegular";
    src: url("/fonts/HALTimezone-MonoRegular.otf") format("opentype");
}

@font-face {
    font-family: "EBGaramond-Medium";
    src: url("/fonts/EBGaramond-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-MediumItalic";
    src: url("/fonts/EBGaramond-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "EBGaramond-Bold";
    src: url("/fonts/EBGaramond-Bold.ttf") format("truetype");
}

html,body{
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}

.word-split a {
  text-decoration: underline;
}

::selection {
  background-color: #8C8C8C; 
  color: #FFF;            
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
  z-index: -1;
}

.show-vignette {
  opacity: 1 !important;
  transition: opacity 0.15s;
}

::view-transition-new(root) .show-vignette > div {
  opacity: 0 !important;
}


::-webkit-scrollbar{
  display: none;
}

img {
  user-drag: none;          /* Safari / Chrome */
  -webkit-user-drag: none;  /* legacy prefix for WebKit */
  user-select: none;        /* optional: also prevent text selection if inside the image */
}
